<div class="navbar" ng-controller="navCtrl">
    <div class="col-sm-6" ui-sref="main.dashboard">Dashboard</div>
    <div class="col-sm-6" ui-sref="main.account">Account</div>
    <div class="col-sm-6 client">Client</div>
</div>