
<div class="container" ng-controller="loginController">
    <hr />
    <form class="form-group">
        <div class="row">
            <label>Email</label>
            <input type="text" ng-model="email" class="input-sm spacing" />
        </div>
        <div class="row">
            <label>Password</label>
            <input type="text" ng-model="password" class="input-sm spacing" />
        </div>
        <div class="row">
            <button ng-click="login()" class="btn btn-sm btn-info">Log In</button>
        </div>

    </form>
    <hr />
</div>
